{{#if quantity}}
<label for="cart_toggle">{{quantity}} items</label>
<input id="cart_toggle" type="checkbox">
<div id="items">
  <ul>
    {{#each items}}
    <li>
      <a class="remove" href="#">Remove</a>
      {{title}} x {{item_quantity}}
      <small>= ${{format_price price_multiplied}}</small>
    </li>
    {{/each}}
  </ul>
  <p>${{format_price total}}</p>
</div>
{{else}}
<p>0 items</p>
{{/if}}