{{#if quantity}}
<label for="cart_toggle">{{quantity}} items</label>
<input id="cart_toggle" type="checkbox">
<div id="items">
  <ul>
    {{#each items}}
    <li>
      <a data-id="{{id}}" href="#" class="remove">Remove</a>
      {{title}} x {{item_quantity}}
      <small>=&nbsp;&nbsp;&nbsp;${{format_price price_multiplied}}</small>
    </li>
    {{/each}}
  </ul>
  <p>Total price so far....&nbsp;&nbsp;&nbsp;${{format_price total}}</p>
</div>
{{else}}
<p>0 items</p>
{{/if}}