{{#each albums}}
<li>
  <img src="{{cover}}" />
  <h2>{{title}}</h2>
  <h3>{{artist}}</h3>
  <p>Released: {{date}}</p>
  <p>Price: {{price}}</p>
  </br>
  <a href="{{songs_url}}" class="btn">Check out songs</a>
  </br>
  <a href="#" class="btn">Add to cart</a>
  </br>
{{!-- account for #each albums LOOP!!!!  edit_album_path WON'T work b/c I'm in the #each albums LOOP!!! --}}  <a href={{edit_album_path}} class="btn">Update Album</a>
</li>
{{/each}}

